<h1>Welcome To the BuyMore Family!</h1>

<h3>Please provide the following details about yourself</h3>

<form method="POST" action="/employees/new">
<h4>First Name: <input type="text" name="first_name"></h4>
<h4>Last Name: <input type="text" name="last_name"></h4>
<h4>Job Title: <input type="radio" name="job_title"></h4>
<h4>Username: <input type="text" name="username"></h4>
<h4>Birthdate: <input type="text" name="birthdate"></h4>
<h4>Password: <input type="password" name="password"></h4>
<input type="submit" value="Submit">
</form>



