<img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/da/BuyMoreLogo.png/250px-BuyMoreLogo.png" alt="BuyMore Logo">
<h2>Employee Login Page</h2>

<form method="POST" action="/login">
<h4>Login:</h4>
<br>
<h5>Username: <input type="text" name="employee[username]"></h5>
<br>
<h5>Password: <input type="password" name="employee[password]"></h5>
<br>
<input type="submit" value="Log In">
</form>
<br>
<br>
<h5>Are you a new employee? <a href="/employees/new">Click here</a></h5>
